//CONFIG
PORT=3000
CORS=*

//Mongo
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

//Users
DEFAULT_ADMIN_PASSWORD=
DEFAULT_USER_PASSWORD=

//Auth
AUTH_JWT_SECRET=

//API keys
PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=